header {

}

#dropdown {
    padding: 1vh;
    float: right;
    overflow:  visible;
    width: 5vw;
    height: 5vw;
}

#dropdownMain {
    width: 100%;
}

#dropdownMain:hover {
    transition: 100ms;
    transform: scale(110%);
}
