* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    scrollbar-width: none;
    text-decoration: none;
    color: black;
    transform-origin: center;
    text-align: center;
}

main {
    background-color: rgb(230, 234, 244);
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

main section {
    border: 2px solid rgb(47, 60, 62);
    background-color: rgb(116, 144, 169);
}

.img {
    background-image: url(../img/minecraft1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
}
